<div class="mdl-container" data-id="recommendation">
    <div class="mdl">
        <div class="mdl-header-mobile d-lg-none d-md-flex d-sm-flex">
            <img src="https://cdn.shopify.com/s/files/1/0625/2684/9277/files/Mobile-Logo.png?v=1712901571">
            <span class="mdl-close close">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
        <div class="mdl-header d-lg-flex d-md-none d-sm-none">
            <h6 class="mdl-title">
                Recommendation
            </h6>
            <span class="mdl-close close">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
        <div class="mdl-body">
            <div class="row d-lg-none d-md-flex d-sm-flex">
                <div class="col-12 text-center mb-4">
                    <h6 class="mdl-title">
                        Recommendation
                    </h6>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="recommended">
                        <h5 class="rec size">
                            
                        </h5>
                        <p class="rec-title">
                            Recommended Size
                        </p>
                        <div class="divider"></div>
                        <p class="rec-description rec-desc">
                            
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="recommended">
                        <h5 class="rec saddle">
                            
                        </h5>
                        <p class="rec-title">
                            Recommended Saddle Height
                        </p>
                        <div class="divider"></div>
                        <p class="rec-description">
                            How to measure saddle height? <br>
                            Saddle height is calculated as the center of the bottom bracket to the top center of the saddle.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-modal close">Back To Shop</button>
                </div>
            </div>
        </div>
    </div>
</div>