{% assign save_price = product.compare_at_price | minus: product.price | default: 1999 %}
{% assign save_price_p = save_price | divided_by: 1.00 | default: 0.00 %}
{% assign _off = save_price_p | divided_by: product.compare_at_price | round: 2 | times: 100 | floor %}

{%  assign money_save_price = save_price %}

{% if product.compare_at_price > product.price %}
    <div class="money-wrapper"><span class="discounted-price" id="discounted_price">{{ product.price | money }}</span> <span class="original-price" id="original_price"><s>{{ product.compare_at_price | money }}</s></span></div>
{% else %}
    <div class="money-wrapper"><span class="price">{{ product.price | money }}</span></div>
{% endif %}