{%- if section.settings.show_promotionBanner != blank -%}
    <section id="shopify-section--{{ section.id }}" class="promotion-banner {{ section.settings.banner_alignment }}">
    </section>
{% endif %}