<div class="video-modal-wrapper row">
  <div class="modal-shadow"></div>
  <div class="video-wrapper col-lg-5 col-md-12 col-sm-12"></div>
</div>
<style>
  .video-modal-wrapper {
    display: flex;
    align-center: center;
  }
  .video-modal-wrapper .modal-shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
