<div class="container text-center section-content">
  <p>Attention: This e-bike is for riders aged 16 and up. It is not for children's use.</p>
  <p>Note: Before using the bike with a maximum assisted speed exceeding 20 mph, it is important to familiarize yourself with local regulations if it is legal to use in the regions, and other requirements, e.g. age, helmet use, license, etc.For more information, please refer to the instructions manual accompanying the e-bike.</p>
  <p>DISCLAlMER: It is essential for riders to be aware of and adhere to local regulations before unlocking the speed limit, Vanpowers is not responsible for any consequences arising from failure to observe the local regulations.</p>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}