<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-556390775349314338.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-556390775349314338.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-556390775349314338.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-556390775349314338.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-556390775349314338.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-556390775349314338.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-556390775349314338.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-556390775349314338.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-556390775349314338.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-556390775349314338.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-556390775349314338.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-556390775349314338.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-556390775349314338.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-556390775349314338.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-556390775349314338.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-556390775349314338.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-556390775349314338.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-556390775349314338.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-556390775349314338.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-556390775349314338.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-556390775349314338.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-556390775349314338.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-556390775349314338.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-556390775349314338.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-556390775349314338.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-556390775349314338.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-556390775349314338.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-556390775349314338.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-556390775349314338.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-556390775349314338.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-556390775349314338.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-556390775349314338.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-556390775349314338.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-556390775349314338.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-556390775349314338.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-556390775349314338.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-556390775349314338.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-556390775349314338.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-556390775349314338.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-556390775349314338.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-556390775349314338 .gp-relative{position:relative}.gps-556390775349314338 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-556390775349314338 .gp-mb-0{margin-bottom:0}.gps-556390775349314338 .gp-flex{display:flex}.gps-556390775349314338 .gp-grid{display:grid}.gps-556390775349314338 .gp-contents{display:contents}.gps-556390775349314338 .\!gp-hidden{display:none!important}.gps-556390775349314338 .gp-hidden{display:none}.gps-556390775349314338 .gp-h-full{height:100%}.gps-556390775349314338 .gp-w-full{width:100%}.gps-556390775349314338 .gp-max-w-full{max-width:100%}.gps-556390775349314338 .gp-flex-col{flex-direction:column}.gps-556390775349314338 .gp-gap-y-0{row-gap:0}.gps-556390775349314338 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-556390775349314338 .gp-duration-200{transition-duration:.2s}.gps-556390775349314338 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-556390775349314338 .tablet\:\!gp-hidden{display:none!important}.gps-556390775349314338 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-556390775349314338 .mobile\:\!gp-hidden{display:none!important}.gps-556390775349314338 .mobile\:gp-hidden{display:none}}.gps-556390775349314338 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="guU7SnmVay" data-id="guU7SnmVay"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guU7SnmVay gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXba1xzO3w gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gUrK4xLE3D"
    role="presentation"
    class="gp-group/image gUrK4xLE3D"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-34d9a113-303b-48a4-9a00-3b99628ea8e4_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIyNzEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTI3MTIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMjcxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIyNzEyIiBmaWxsPSJ1cmwoI2ctMTgwMC0yNzEyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-26debcb8-991a-4c6c-a145-f302b9bb62b9_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAyMCIgaGVpZ2h0PSIxOTE4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDIwLTE5MTgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMjAiIGhlaWdodD0iMTkxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAyMCIgaGVpZ2h0PSIxOTE4IiBmaWxsPSJ1cmwoI2ctNDAyMC0xOTE4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAyMCIgdG89IjQwMjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAyMCIgaGVpZ2h0PSIxOTE4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDIwLTE5MTgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMjAiIGhlaWdodD0iMTkxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAyMCIgaGVpZ2h0PSIxOTE4IiBmaWxsPSJ1cmwoI2ctNDAyMC0xOTE4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAyMCIgdG89IjQwMjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-26debcb8-991a-4c6c-a145-f302b9bb62b9.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-556390775349314338 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=556390775231873826&sectionId=556390775349314338)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
