

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557571646643373136.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557571646643373136.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557571646643373136.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557571646643373136.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557571646643373136.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557571646643373136.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557571646643373136.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557571646643373136.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557571646643373136.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557571646643373136.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557571646643373136.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557571646643373136.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557571646643373136.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557571646643373136.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557571646643373136.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557571646643373136.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557571646643373136.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557571646643373136.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557571646643373136.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557571646643373136.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-557571646643373136.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557571646643373136.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557571646643373136.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557571646643373136.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557571646643373136.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557571646643373136.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557571646643373136.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557571646643373136.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557571646643373136.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557571646643373136.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-557571646643373136.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557571646643373136.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557571646643373136.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557571646643373136.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557571646643373136.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557571646643373136.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557571646643373136.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557571646643373136.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557571646643373136.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557571646643373136.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557571646643373136.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557571646643373136.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557571646643373136.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-557571646643373136.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557571646643373136.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557571646643373136.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557571646643373136.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-557571646643373136.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557571646643373136.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557571646643373136.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557571646643373136.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557571646643373136.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557571646643373136.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-557571646643373136.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557571646643373136.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557571646643373136.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557571646643373136.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557571646643373136.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557571646643373136.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-557571646643373136 .gp-relative{position:relative}.gps-557571646643373136 .gp-z-1{z-index:1}.gps-557571646643373136 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557571646643373136 .gp-mb-0{margin-bottom:0}.gps-557571646643373136 .gp-flex{display:flex}.gps-557571646643373136 .gp-inline-flex{display:inline-flex}.gps-557571646643373136 .gp-grid{display:grid}.gps-557571646643373136 .\!gp-hidden{display:none!important}.gps-557571646643373136 .gp-hidden{display:none}.gps-557571646643373136 .gp-h-full{height:100%}.gps-557571646643373136 .gp-max-w-full{max-width:100%}.gps-557571646643373136 .gp-flex-col{flex-direction:column}.gps-557571646643373136 .gp-items-center{align-items:center}.gps-557571646643373136 .gp-justify-center{justify-content:center}.gps-557571646643373136 .gp-gap-y-0{row-gap:0}.gps-557571646643373136 .gp-overflow-hidden{overflow:hidden}.gps-557571646643373136 .gp-break-words{overflow-wrap:break-word}.gps-557571646643373136 .gp-rounded-none{border-radius:0}.gps-557571646643373136 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557571646643373136 .gp-no-underline{text-decoration-line:none}.gps-557571646643373136 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557571646643373136 .gp-duration-200{transition-duration:.2s}.gps-557571646643373136 .gp-duration-300{transition-duration:.3s}.gps-557571646643373136 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557571646643373136 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557571646643373136 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557571646643373136 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557571646643373136 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557571646643373136 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557571646643373136 .tablet\:\!gp-hidden{display:none!important}.gps-557571646643373136 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557571646643373136 .mobile\:\!gp-hidden{display:none!important}.gps-557571646643373136 .mobile\:gp-hidden{display:none}}.gps-557571646643373136 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557571646643373136 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--bottom:0px;--left:0px;--pos:fixed;--z:2;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gBlex71_vx" data-id="gBlex71_vx"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBlex71_vx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guZd6Oqa8w gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    
  >
    <style>
    .gm6voZch1m.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gm6voZch1m:hover::before {
      
      
    }

    .gm6voZch1m:hover .gp-button-icon {
      color: undefined;
    }

     .gm6voZch1m .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gm6voZch1m:hover .gp-button-price {
      color: undefined;
    }

    .gm6voZch1m .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gm6voZch1m .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gm6voZch1m:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gm6voZch1m" aria-label="Back to Top ↑"
      
      data-state="idle"
      class="gm6voZch1m gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#161723;--bg:#161723;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:14px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggm6voZch1m_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <script id="custom-js-gm6voZch1m">
        try {
          //const currentElement = document.getElementsByClassName('gm6voZch1m');

document.addEventListener('DOMContentLoaded', function(){

 document.querySelector('.gm6voZch1m').addEventListener('click', function(e){
                e.preventDefault();
                document.body.scrollTop = 0; 
                document.documentElement.scrollTop = 0;
              })
              
              
})
        } catch(err){}
      </script>
    
    </div>
    </div>
  
            </section>
           
    
      <style id="custom-css-gBlex71_vx">
        .gBlex71_vx:not(.gp-show) {
    display: none !important;
}
@media screen and (min-width: 989px) {
 .gBlex71_vx {
        display: none !important;
    }
}
#storefront .gBlex71_vx{
    display: block !important;
}

@media screen and (max-width: 989px) {
  footer.footer {
    margin-bottom: 45px !important;
  }
  
  header.header .btn-custom {
    display: none !important;
  }
}

      </style>
    
      <script id="custom-js-gBlex71_vx">
        try {
          //const currentElement = document.getElementsByClassName('gBlex71_vx');


document.addEventListener('DOMContentLoaded', function(){
    const sticky = document.querySelector('.gBlex71_vx');

   
   window.addEventListener("scroll", () => {
       
     const testimonial = document.querySelector('.gdarNjOTaa').getBoundingClientRect(); 
     
     if(window.scrollY > (testimonial.top + window.scrollY - window.innerHeight /2)){
         sticky.classList.add('gp-show');
     }else{
         sticky.classList.remove('gp-show');
     }
       
       
   });
   
   
})
        } catch(err){}
      </script>
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-557571646643373136 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557571646509024336&sectionId=557571646643373136)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggm6voZch1m_label","label":"ggm6voZch1m_label","default":"Back to Top ↑"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
