{% if product.metafields.custom.intro_video %}
  <div class="product-video">
    <div class="full-video">
        <video autoplay playsinline muted loop class="video-bg">
            <source src="{{ product.metafields.custom.intro_video }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endif %}
<style>
    .product-video .video-bg {
        width: 100%;
    }
  @media only screen and (max-width: 480px) {
        .product-video {
            padding: 40px 0 !important;
        }
    }
</style>
