<section id="hnz-product-3">
    <div class="container section-content">
        <div class="row">
            <div class="col-12">
                <h2 class="title">
                    {{ product.metafields.custom.see_it_at_action.value.title }}
                </h2>
            </div>

            <div class="col-12 position-relative">
                <div class="owl-carousel">
                    {% for block in product.metafields.custom.see_it_at_action.value.list %}
                        <div class="item">
                            <img src="{{ block.image }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="float-nav">
                    <button type="button" role="presentation" class="owl-prev" disabled>
                        <i class="fa-solid fa-arrow-left-long"></i>
                    </button>
                    <button type="button" role="presentation" class="owl-next">
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
  <div class="d-lg-block d-md-none d-sm-none">
        <img src="{{ product.metafields.custom.see_it_at_action.value.banner_img }}" width="100%" height="">
      </div>
</section>

{% schema %}
    {
        "name": "Product Section 3",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show/Hide Section",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],
      "presets": [{"name": "ACTIONS"}]
    }
{% endschema %}