<section id="hnz-product-3" {% if section.settings.show == false %}style="display: none;"{% endif %}>
    <div class="container section-content">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="title">
                    {{ section.settings.title }}
                </h2>
            </div>

            <div class="col-12 position-relative">
                <div class="owl-carousel">
                    {% for block in section.blocks %}
                        <div class="item">
                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="float-nav">
                    <button type="button" role="presentation" class="owl-prev" disabled>
                        <i class="fa-solid fa-arrow-left-long"></i>
                    </button>
                    <button type="button" role="presentation" class="owl-next">
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Product Section 3",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show/Hide Section",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
{% endschema %}