<section id="hnz-ug-ultra-14" {% if section.settings.show == false %}style="display: none;"{% endif %}>
    <div class="container section-content">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="title">
                    {{ section.settings.title }}
                </h2>
            </div>

            <div class="col-12">
                <!-- Start of Judge.me code -->
                <div style='clear:both'></div>
                <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'>
                    {{ product.metafields.judgeme.widget }}
                </div>
                <!-- End of Judge.me code -->
            </div>

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Product Section 7",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show/Hide Section",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ]
    }
{% endschema %}