<section id="hnz-product-5" {% if section.settings.show == false %}style="display: none;"{% endif %}>
    <div class="container section-content">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="title">
                    {{ section.settings.title }}
                </h2>
            </div>

            <div class="col-12">
                <div class="box">
                    <div class="row">
                        {% for block in section.blocks %}
                            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                <img src="{{ block.settings.image | img_url: 'master' }}">
                                <h5 class="box-title">
                                    {{ block.settings.title }}
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Product Section 5",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show/Hide Section",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "In The Box",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    }
                ]
            }
        ]
    }
{% endschema %}