{% layout 'hnz-theme' %}

<div class="toggle-it"></div>

{% section 'hnz-ug-standard-1' %}
{% section 'hnz-ug-standard-2' %}
{% section 'hnz-ug-standard-3' %}
{% section 'hnz-ug-standard-7' %}
{% section 'hnz-ug-standard-6' %}
{% section 'hnz-ug-standard-5' %}
{% section 'hnz-ug-standard-8' %}
{% section 'hnz-ug-standard-9' %}
{% section 'hnz-ug-standard-10' %}
{% section 'hnz-ug-standard-11' %}
{% section 'hnz-ug-standard-12' %}
{% section 'hnz-ug-standard-13' %}
{% section 'hnz-ug-standard-14' %}
{% section 'hnz-ug-standard-15' %}
{% section 'hnz-ug-standard-16' %}

<style>
    .pre-footer {
        display: none;
    }
</style>