{% layout 'hnz-theme' %}

<div class="toggle-it"></div>

{% section 'hnz-ug-ultra-1' %}
{% section 'hnz-ug-ultra-2' %}
{% section 'hnz-ug-ultra-3' %}
{% section 'hnz-ug-ultra-4' %}
{% section 'hnz-ug-ultra-5' %}
{% section 'hnz-ug-ultra-6' %}
{% section 'hnz-ug-ultra-7' %}
{% section 'hnz-ug-ultra-8' %}
{% section 'hnz-ug-ultra-9' %}
{% section 'hnz-ug-ultra-10' %}
{% section 'hnz-ug-ultra-11' %}
{% section 'hnz-ug-ultra-12' %}
{% section 'hnz-ug-ultra-13' %}
{% section 'hnz-ug-ultra-14' %}
{% section 'hnz-ug-ultra-15' %}
{% section 'hnz-ug-ultra-16' %}

<style>
    .pre-footer {
        display: none;
    }
</style>