{% layout 'hnz-theme' %}

<div class="toggle-it"></div>

{% section 'hnz-ug-pro-1' %}
{% section 'hnz-ug-pro-2' %}
{% section 'hnz-ug-pro-3' %}
{% section 'hnz-ug-pro-7' %}
{% section 'hnz-ug-pro-6' %}
{% section 'hnz-ug-pro-5' %}
{% section 'hnz-ug-pro-8' %}
{% section 'hnz-ug-pro-9' %}
{% section 'hnz-ug-pro-10' %}
{% section 'hnz-ug-pro-11' %}
{% section 'hnz-ug-pro-12' %}
{% section 'hnz-ug-pro-13' %}
{% section 'hnz-ug-pro-14' %}
{% section 'hnz-ug-pro-15' %}
{% section 'hnz-ug-pro-16' %}

<style>
    .pre-footer {
        display: none;
    }
</style>